/* 1. додайте клас до h1 і зробіть весь текст для класу заглавними літерами (text-transform: uppercase) */
h1 {
  text-transform: uppercase;
}
/* 2. придумайте назву класа для списку цілей і встановіть колір шрифту червоним у шістнадцятковому форматі */
.goals-list {
  color: #ff0000;
}
/* 3. пунктам списку цілей за класом дайте колір заднього фону yellow і нахилений шрифт (font-style: italic)*/
.list__item {
  background-color: yellow;
  font-style: italic;
}
/* 4. для усіх впорядкованих списків задайте рамку 1px solid red */
ol {
  border: 1px solid red;
}
/* 5. задайте id (ідентифікатор) для заголовку першого рівня і встановіть на нього колір шрифта green */
#main-heading {
  color: green;
}
/* 6. для всіх посилань на PDF-документи втсановити стиль: колір зелений і font-style: italic */
.pdf {
  color: green;
  font-style: italic;
}
/* 7. для всіх посилань втсановити колір шрифта violet та заберыть підкреслення (text-decoration: none).
   Питання: чому PDF-файли вже не підкреслені але все ж лишились зелені?
   -> Відповідь: бо ми надали тегу <а>, в яких посилання на пдф-документи, 
   тільки колір, а text-decoration не чіпали, а потім до всіх елементів з тегом <а> 
   в документі ми надали колір і прибрали підкреслення. Клас .pdf в посиланнях на 
   файли сприймається як "важливіший", 
   ніж просто стиль для всіх елементів з цим тегом */
a {
  color: violet;
  text-decoration: none;
}
/* 8. Встановіть всі заглавні літери (text-transform: uppercase) для усіх вкладнених списків другого рівня*/
.second-lvl-list {
  text-transform: uppercase;
}
/* 9. для всіх посилань що знаходяться всередині абзаців встановити колір шрифта magenta і задній фон кольору mistyrose */
.p-link {
  color: magenta;
  background-color: mistyrose;
}
/* 10. створити клас bold який буде будь-який текст перетворювати на жирний і застосувати його: 1) до двох останіх   пунктів цілей 2) до першого довгого абзацу (той що під основним заголовком).
  Питання: чому у нас одночасно і bold i italic? 
  -> Відповідь: Два останні пункти списку "Наші цілі" одночасно і bold i italic,
  бо ми задали їм 2 класи, перший з яких .list__item надає курсив і другий .bold, 
  який надає жирність */
.bold {
  font-weight: bold;
}
/* 11. для всіх тегів li з класом bold встановити всі заглавні літери */
li.bold {
  text-transform: uppercase;
}
/* 12. другий довгий абзац і передостанній "Написати нам листа" вирійвняйте по правому краю, додайте синю рамку навколо та встановіть розмір шрифта 20px */
.right-text {
  text-align: right;
  border: 1px solid blue;
  font-size: 20px;
}
/* 13. на тег h1 встановіть колір шрифта червоний. Чому він не спрацює і що можна зробити щоб він спрацював?
->Відповідь: цей стиль не спрацює, бо заголовку h1. вже заданий id раніше,
а id "вище" всіх інших стилів, тоді цей стиль стає найголовнішим. 
Вирішити це можна, додавши !important в кінці того стилю, який ми хочемо, щоб спрацював */
h1 {
  color: red;
}

/* 14. для всіх можливих селекторів встановіть властивість box-sizing: border-box (у DevTools перегляньте які CSS властивості у елементів активні і визначте чи успішно виконано завдання) 
-> У певних селекторів неактивні властивості типу margin, але
це не черещ border-box, все інше працює */
* {
  box-sizing: border-box;
}
/* 15. зробіть так, щоб задній фон цілей був не на всю ширину сторінки бо це блочці елементи, а лише по довжині кожного з елементів (відповідь: огорнути текст у рядкові span-и застосувати background до них) */
